@media (min-width: 700px) {

    /* search-section */
    .search-section {
        grid-template-columns: 1fr 1fr 7fr;
    }

    /* Gallery */
    .grid-container {
        grid-template-columns: repeat(auto-fit, minmax(211px, 230px));
    }

    /* editor */
    .editor.shown {
        height: 100%;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        /* grid-template-columns: 1fr 1fr; */
        grid-template-rows: repeat(1, 87vh);
        ;
        /* grid-template-rows: 80vh; */
        gap: 5px;
    }

    .user-settings{
        margin: 10px;
      }

    .line-emoji {
        gap: 5px;
     }
    /* .user-settings {
        padding: 10px;
    }  */

    .canvas-container {
        background-color: rgb(72, 130, 168);
        margin: 0 auto;
        /* width: 50vw; */
        width: 100%;
        height: 100%;
    }



    /* .editor{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 5px;
    }
.user-settings{
    grid-row: 2/-1;
} */
}