@media (min-width: 640px) {
    
    /* search-section */
    .search-section {
        grid-template-columns:1fr 8fr;
      }

    /* Gallery */
    .grid-container {
        grid-template-columns: repeat(auto-fit, minmax(211px, 230px));
    }

    /* editor */
    .editor.shown {
        height: 100%;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        /* grid-template-columns: 1fr 1fr; */
        grid-template-rows: 80vh;
    }

    .user-settings {
        padding: 10px;
    }

    .canvas-container {
        background-color: rgb(72, 130, 168);
        margin: 0 auto;
        width: 50vw;
        height: 80vh;
    }

    /* .editor{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 5px;
    }
.user-settings{
    grid-row: 2/-1;
} */
}