* {
    box-sizing: border-box;
}

.body {
    height: 100vh;
    margin: 0;
    background-color: rgb(252, 190, 165);
}

button {
    width: 60px;
    height: 60px;
    border-radius: 12px;
    border: none;
    background-color: #ffffff;
    cursor: pointer
}

button:hover {
    color: red;
    background-color: antiquewhite;
}

button:active {
    color: blue;
    background-color: antiquewhite;
    box-shadow: inset;
}

.btn {
    width: 60px;
    height: 60px;
    border-radius: 12px;
    border: none;
    padding: 15px;
    background-color: #ffffff;
    cursor: pointer
}

.gbtn{
    width: 100px;
    height: 60px;
    border-radius: 12px;
    border: none;
    padding: 15px;
    background-color: #ffffff;
    cursor: pointer 
}

.btn:hover {
    color: red;
    background-color: antiquewhite;
}

.btn:active {
    color: blue;
    background-color: rgb(250, 194, 247);
    box-shadow:#aae4fb;
}