.grid-container {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(211px, 1fr));
    gap: 10px;
}

.img {
    background-color: #95c5f5;
    border: 1px solid black;
    width: 100%;
    height: 100%;
    object-fit: contain;
    cursor: pointer
}

.img:hover {
    transform: scale(1.1);
    transition: 800ms;
}

.hide-canvas {
    display: none;
}